:host {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    overflow: hidden;

    .desktop { background: green; }
    .tablet { background: blue; }
    .phone { background: red; }

    .vertical { color: white; }
    .horizontal { color: yellow; text-decoration: underline; }
}