<div class="device"
    [ngClass]="{
        'phone': screenInfo.screen.type === ScreenEnum.Phone,
        'tablet': screenInfo.screen.type === ScreenEnum.Tablet,
        'desktop': screenInfo.screen.type === ScreenEnum.Desktop
    }"
>
    <div [ngClass]="{
        'vertical': screenInfo.screen.orientation === OrientationScreenEnum.Vertical,
        'horizontal': screenInfo.screen.orientation === OrientationScreenEnum.Horizontal
    }">
        <h1>EVO AI :)</h1>
        <p>page-tablet device works! Страница - {{ (evo.dynamicWidth.maxPageWidth.lighthouse$ | async)?.maxPageWidth }}</p>
        <p>Смартфон - {{screenInfo.devices.phoneMaxSize}}</p>
        <p>Планшет - {{screenInfo.devices.tabletMaxSize}}</p>
        <p>Монитор - {{screenInfo.devices.desktopMaxSize}}</p>
        <p>ScreenWidth - {{screenInfo.screen.options.proportions.width}}</p>
        <p>ScreenInnerWidth - {{screenInfo.screen.options.proportions.innerWidth}}</p>
    </div>
</div>
