<ng-container *ngIf="evo.devicesScreen.screen.lighthouse$ | async as info">
    <ng-container *ngIf="info.screen.type === ScreenEnum.Phone">
        <evo-page-phone
            [screenInfo]="info"
            [viewDataPage]="viewDataPage"
            [filters]="filters"
            [options]="options"
            (click)="newPage()"
        ></evo-page-phone>
    </ng-container>

    <ng-container *ngIf="info.screen.type === ScreenEnum.Tablet">
        <evo-page-tablet
            [screenInfo]="info"
            [viewDataPage]="viewDataPage"
            [filters]="filters"
            [options]="options"
            (click)="newPage()"
        ></evo-page-tablet>
    </ng-container>

    <ng-container *ngIf="info.screen.type === ScreenEnum.Desktop">
        <evo-page-desktop
            [screenInfo]="info"
            [viewDataPage]="viewDataPage"
            [filters]="filters"
            [options]="options"
            (click)="newPage()"
        ></evo-page-desktop>
    </ng-container>
</ng-container>
